@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}


*{
  cursor: none !important; /* Hides the default cursor */
}

body{
  font-family: "Poppins", "Roboto" serif; 
}

body::-webkit-scrollbar{
  display: none;

}

@layer utilities{
  .heading1{
    @apply font-poppins text-[50px] lg:text-[60px] xl:text-[80px] lg:text-start text-center text-primary font-[700] leading-[70px] lg:leading-[101px]
  }
  .heading2{
    @apply font-poppins text-[25px] lg:text-[30px] xl:text-[35px]  text-banal font-[700] 
  }

  .flex-center{
    @apply flex justify-center items-center
  }

  .flex-start{
    @apply flex justify-start items-start
  }


  .flex-end{
    @apply flex justify-end items-end
  }

  .flex-between{
    @apply flex justify-between items-center
  }

  .body-text{
    @apply font-roboto  text-[20px] font-[400] leading-[30px]
  }

  .base-regular{
    @apply  font-roboto font-[400] text-[15px] md:text-[20px] lg:text-[25px] text-banal
  }

  .mobileMenu{
    @apply fixed top-0 right-0 w-3/4 h-full bg-white shadow-lg z-50 transition-transform transform translate-x-0
  }

  .icons{
    @apply hover:scale-110 cursor-pointer
  }

  .pharagraph{
    @apply font-roboto text-[25px] font-[500] leading-[40px] text-banal text-center lg:text-start
  }

  .suptitle{
    @apply font-roboto text-[25px] font-medium text-dark max-w-[270px] sm:max-w-[300px] md:max-w-[400px] lg:max-w-[600px] 
  }
  
  .sectionCard{
    @apply bg-[#f6f6f6] rounded-xl p-[20px]
  }

  .sectionMargins{
    @apply mt-32
  }

  .blogCard{
    @apply max-w-sm shadow-md overflow-hidden rounded-[35px] flex flex-col gap-4
  }

  .cursor{
    width: 30px;
    height: 30px;
    z-index: 50;
  }

}





@layer base {
  :root {
    --primary-color: #4CAF50;
    --secondary: #A5D6A7;
    --accent: #009688;
    --dark: #2E7D32;
    --text-base: #333333;
    --background: #ECFFC6;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 10px;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
